@media screen and (min-width: 320px) {
  #habitInfo_cover {
    position: relative;
    color: black;
    width: 100%;
    height: 550px;
    background-color: #ffff;
  }

  .getBackBtn {
    display: block;
    margin: 20px auto;
    background-color: rgba(234, 231, 242, 0.5019607843137255);
    font-size: 20px;
    letter-spacing: 1px;
    color: #3e1687;
    font-weight: bold;
    font-family: 'Candara';
    padding: 10px 38px;
    border: 1px solid blue;
    border-radius: 8px;
    margin-right: 150px;
    margin-bottom: 25px;
  }

  .habitInfo_header {
    height: 65px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;

    background: linear-gradient(
      to right,
      rgb(106, 83, 165),
      rgb(173, 129, 209)
    );
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }

  .habitInfo-button {
    font-size: 14px;
    display: block;
    color: #ffffff;
    background: transparent;
    border: none;
  }

  #habitInfo_habitName {
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  #habitInfo_main {
    text-align: center;
  }

  #habitInfo_main-title {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 15%;
  }

  .habitInfoMainProgress {
    font-size: 45px;
  }

  .habitInfoFooter {
    // position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    bottom: 0px;
    width: 60%;
    margin-right: 60px;
  }

  .habitInfoDeleteButton {
    color: #400688;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0 10px 0;
    border: none;
    border: 1px solid #000000;
    border-radius: 35px;
    padding: 15px;
    width: 200px;
  }
  // #habitInfo_table_calendar {

  // }
  .habitsCalendar {
    margin: 10px auto;
    width: 85%;
    text-align: center;
  }
  // #habitInfo_table_calendar thead tr:last-child {
  //   font-size: 20px;
  //   color: #4b2486;
  //   font-family: 'Myriad Pro';
  //   text-align: center;
  // }
  // #habitInfo_table_calendar thead tr:nth-child(1) td:nth-child(1):hover,
  // #habitInfo_calendar_table thead tr:nth-child(1) td:nth-child(3):hover {
  //   cursor: pointer;
  // }
  // #habitInfo_table_calendar thead tr:nth-child(1) td:nth-child(2) {
  //   font-size: 30px;
  //   color: #400688;
  //   font-family: 'Candara';
  // }
  // #habitInfo_table_calendar tbody td {
  //   font-size: 15px;

  //   color: #6e6767;
  //   font-family: 'Myriad Pro';
  //   text-align: center;
  // }
  // #habitInfo_table_calendar tbody td:nth-child(n + 6),
  // #calendar2 .holiday {
  //   color: rgb(231, 140, 92);
  // }
  // #habitInfo_table_calendar tbody td.today {
  //   width: 12px;
  //   background: #400688;
  //   border: #400688 solid 5px;
  //   border-radius: 400px;
  //   color: #fff;
  // }

  /* media */
}

// @media screen and (min-width: 720px) {
//   #habitInfo_main-title {
//     padding: 0 0 5% 0;
//     font-size: 25px;
//   }

//   .habitInfoDeleteButton {
//     margin-right: 35px;
//     width: 55%;
//   }
//   .habitsCalendar {
//     margin: 10px auto;
//     width: 600px;
//     text-align: center;
//   }
//   .habitInfoMainProgress {
//     font-size: 60px;

//   }
//   // #habitInfo_table_calendar tbody td {
//   //   font-size: 20px;
//   // }
//   /* media */
// }

// @media screen and (min-width: 1024px) {
//   #habitInfo_habitName {
//     font-size: 32px;
//     margin: 28px 0 0 0;
//   }
//   #habitInfo_main-title {
//     padding: 0 0 8% 0;
//   }
//   // #habitInfo_table_calendar tbody td {
//   //   font-size: 23px;
//   // }
//   .habitsCalendar {
//     width: 800px;
//     margin-right: 60px;
//     text-align: center;
//   }
//   .habitInfo-button {
//     margin: 1% 20% 0 20%;
//     font-size: 25px;
//   }

//   /* media */
// }
